        * {
            margin: 0;
            padding: 0;
        }
        
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/pexels-maxyne-barcel-10402282 1.png");
            font-family: 'Red Rose', cursive;
            background-size: cover;
            filter: brightness(80%);
        }
        
        .header {
            display: flex;
            margin-top: 2%;
            margin-left: 2%;
            justify-content: space-between;
        }
        
        .middle {
            display: flex;
            list-style: none;
            gap: 40px;
            color: yellow;
            font-size: 20px;
        }
        
        .middle li:hover {
            cursor: pointer;
            text-decoration: underline;
            color: red;
        }
        
        .header button {
            height: 40px;
            width: 120px;
            margin-right: 3%;
            color: aliceblue;
            background-color: red;
            cursor: pointer;
            border-radius: 3px;
        }
        
        .header button:hover {
            background-color: crimson;
        }
        /* .header button li{
            
        } */
        
        .mainpart {
            margin-top: 6%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        
        .mainpart h1 {
            color: yellow;
            font-weight: 900;
            font-size: 90px;
        }
        
        .mainpart button {
            height: 50px;
            width: 200px;
            margin-right: 3%;
            color: aliceblue;
            background-color: red;
            cursor: pointer;
            border-radius: 3px;
        }
        
        .mainpart button:hover {
            background-color: crimson;
        }
        
        .footer {
            display: flex;
            justify-content: right;
        }
        
        .footer img {
            margin-right: 2%;
            width: 150px;
            height: 150px;
            position: fixed;
        }